USE [GigGearCoversDb]
GO
/****** Object:  Table [dbo].[FabricBrandName]    Script Date: 8/20/2025 11:10:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricBrandName](
	[PK_FabricBrandNameId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_FabricBrandNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FabricBrandProductName]    Script Date: 8/20/2025 11:10:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricBrandProductName](
	[PK_FabricBrandProductNameId] [int] IDENTITY(1,1) NOT NULL,
	[BrandProductName] [nvarchar](100) NOT NULL,
	[FK_FabricBrandNameId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_FabricBrandProductNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FabricPricingHistory]    Script Date: 8/20/2025 11:10:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricPricingHistory](
	[PK_PricingHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[FK_SupplierProductNameDataId] [int] NOT NULL,
	[DateFrom] [date] NOT NULL,
	[DateTo] [date] NULL,
	[ShippingCost] [decimal](10, 2) NULL,
	[CostPerLinearYard] [decimal](10, 2) NULL,
	[CostPerSquareInch] [decimal](10, 4) NULL,
	[WeightPerSquareInch] [decimal](10, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_PricingHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FabricTypeName]    Script Date: 8/20/2025 11:10:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FabricTypeName](
	[PK_FabricTypeNameId] [int] IDENTITY(1,1) NOT NULL,
	[FabricTypeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_FabricTypeNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierInformation]    Script Date: 8/20/2025 11:10:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierInformation](
	[PK_SupplierNameId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](200) NULL,
	[Address] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_SupplierNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierProductNameData]    Script Date: 8/20/2025 11:10:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierProductNameData](
	[PK_SupplierProductNameDataId] [int] IDENTITY(1,1) NOT NULL,
	[FK_SupplierNameId] [int] NOT NULL,
	[FK_FabricBrandProductNameId] [int] NOT NULL,
	[FK_FabricTypeNameId] [int] NOT NULL,
	[WeightPerLinearYard] [decimal](10, 2) NULL,
	[SquareInchesPerLinearYard] [decimal](10, 2) NULL,
	[FabricRollWidth] [decimal](10, 2) NULL,
	[TotalYards] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_SupplierProductNameDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FabricBrandProductName]  WITH CHECK ADD FOREIGN KEY([FK_FabricBrandNameId])
REFERENCES [dbo].[FabricBrandName] ([PK_FabricBrandNameId])
GO
ALTER TABLE [dbo].[FabricPricingHistory]  WITH CHECK ADD FOREIGN KEY([FK_SupplierProductNameDataId])
REFERENCES [dbo].[SupplierProductNameData] ([PK_SupplierProductNameDataId])
GO
ALTER TABLE [dbo].[SupplierProductNameData]  WITH CHECK ADD FOREIGN KEY([FK_FabricBrandProductNameId])
REFERENCES [dbo].[FabricBrandProductName] ([PK_FabricBrandProductNameId])
GO
ALTER TABLE [dbo].[SupplierProductNameData]  WITH CHECK ADD FOREIGN KEY([FK_FabricTypeNameId])
REFERENCES [dbo].[FabricTypeName] ([PK_FabricTypeNameId])
GO
ALTER TABLE [dbo].[SupplierProductNameData]  WITH CHECK ADD FOREIGN KEY([FK_SupplierNameId])
REFERENCES [dbo].[SupplierInformation] ([PK_SupplierNameId])
GO
